
body {
    letter-spacing: 0.5px;
    
    height: 100%;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
  }
  
  .card{
    box-shadow:0px 10px 10px 5px rgba(0,0,0,0.5);
  }
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .container {
    margin-top: calc(
      2px + (200 - 180) * ((100vw - 360px) / (1600 - 360))
    )  ;
    margin-bottom: 190px;
  }
  
  h6 {
    font-size: 14px !important;
  }
  
  img {
    vertical-align: middle;
  }
  
  mark.points {
    opacity: 0.5;
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .card-header {
    border: none !important;
    background-color: #fff;
    cursor: pointer;
  }
  
  .card-footer {
    background-color: #fff;
    font-size: calc(
      13px + (15 - 13) * ((100vw - 360px) / (1600 - 360))
    ) !important ;
  }
  mark {
    background-color: #eee !important;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    font-size: calc(
      13px + (15 - 13) * ((100vw - 360px) / (1600 - 360))
    ) !important ;
  }
  
  .sm-img {
    width: 20px;
    height: 20px;
    vertical-align: middle !important;
  }
  
  .test {
    position: absolute;
    bottom: -1px;
    font-size: 12px;
  }
  
  .card {
    width: calc(
      275px + (305 - 275) * ((100vw - 360px) / (1600 - 360))
    ) !important ;
  }
  
  .Developer {
    position: relative;
    margin-top: calc(
      10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
    ) !important ;
  }
  
  h6 {
    font-size: calc(
      15px + (17 - 15) * ((100vw - 360px) / (1600 - 360))
    ) !important ;
  }
  .fa {
    cursor: pointer;
    font-size: 21px !important;
    margin: 5px 10px 5px 10px !important;
  }
  

.heading-boxed {
  background: #eee;
  border: 1px solid #ddd;
  padding: .5em 1rem;
}
.sub-heading {
  color: #999;
  font-size: .8em;
  font-weight: 500;
}

.sub-heading--stacked {
  display: block;
  margin-top: .1em;
}
